networks:
  default:

services:
  redis-primary:
    build:
      context: .
    image: redis-ha
    command: ["start-redis.sh"]
    env_file: .env
    ports:
      - ${DOCKER_REDIS_PORT}:6379
    networks:
      - default
    extra_hosts:
      host.docker.internal: ${DOCKER_REDIS_HOST_GATEWAY:-host-gateway}
    restart: unless-stopped
  redis-replica:
    profiles: ["replica"]
    depends_on:
      - redis-primary
    image: redis-ha
    command: ["start-replica.sh"]
    env_file: .env
    ports:
      - ${DOCKER_REDIS_REPLICA_PORTS}:6379
    networks:
      - default
    extra_hosts:
      host.docker.internal: ${DOCKER_REDIS_HOST_GATEWAY:-host-gateway}
    deploy:
      mode: replicated
      replicas: ${DOCKER_REDIS_REPLICA_COUNT:-2}
    restart: unless-stopped
  redis-sentinel:
    profiles: ["sentinel"]
    depends_on:
      - redis-primary
    image: redis-ha
    command: ["start-sentinel.sh"]
    env_file: .env
    ports:
      - ${DOCKER_REDIS_SENTINEL_PORTS}:26379
    networks:
      - default
    extra_hosts:
      host.docker.internal: ${DOCKER_REDIS_HOST_GATEWAY:-host-gateway}
    deploy:
      mode: replicated
      replicas: ${DOCKER_REDIS_SENTINEL_COUNT:-3}
    restart: unless-stopped
