x-template-redis: &template-redis
  image: redis-ha
  env_file: .env
  networks:
    - default
  extra_hosts:
    host.docker.internal: ${DOCKER_HOST_GATEWAY:-host-gateway}
  restart: unless-stopped

x-template-replica: &template-replica
  <<: *template-redis
  command: ['start-replica.sh']
  depends_on:
    - primary
  deploy:
    replicas: ${DOCKER_REDIS_REPLICA_DEPLOY_COUNT:-1}

x-template-sentinel: &template-sentinel
  <<: *template-redis
  command: ['start-sentinel.sh']
  depends_on:
    - primary
  deploy:
    replicas: ${DOCKER_REDIS_SENTINEL_DEPLOY_COUNT:-1}

services:
  primary:
    <<: *template-redis
    build:
      context: .
    command: ['start-redis.sh']
    hostname: redis-primary
    ports:
      - ${DOCKER_REDIS_PORT}:6379
    environment:
      COMPOSE_SERVICE_NAME: primary
      REDIS_ANNOUNCE_PORT: ${DOCKER_REDIS_PORT}
    volumes:
      - primary:/data
  # Redis replica instances
  replica-1:
    <<: *template-replica
    profiles: ['replica-1']
    hostname: redis-replica-1
    ports:
      - ${DOCKER_REDIS_REPLICA_PORT_1}:6379
    environment:
      COMPOSE_SERVICE_NAME: replica-1
      REDIS_ANNOUNCE_PORT: ${DOCKER_REDIS_REPLICA_PORT_1}
      REDIS_EXT_PRIMARY_PORT: ${DOCKER_REDIS_PORT}
    volumes:
      - replica-1:/data
  replica-2:
    <<: *template-replica
    profiles: ['replica-2']
    hostname: redis-replica-2
    ports:
      - ${DOCKER_REDIS_REPLICA_PORT_2}:6379
    environment:
      COMPOSE_SERVICE_NAME: replica-2
      REDIS_ANNOUNCE_PORT: ${DOCKER_REDIS_REPLICA_PORT_2}
      REDIS_EXT_PRIMARY_PORT: ${DOCKER_REDIS_PORT}
    volumes:
      - replica-2:/data
  # Redis sentinel instances
  sentinel-1:
    <<: *template-sentinel
    profiles: ['sentinel-1']
    hostname: redis-sentinel-1
    ports:
      - ${DOCKER_REDIS_SENTINEL_PORT_1}:26379
    environment:
      COMPOSE_SERVICE_NAME: sentinel-1
      REDIS_ANNOUNCE_PORT: ${DOCKER_REDIS_SENTINEL_PORT_1}
      REDIS_EXT_PRIMARY_PORT: ${DOCKER_REDIS_PORT}
  sentinel-2:
    <<: *template-sentinel
    profiles: ['sentinel-2']
    hostname: redis-sentinel-2
    ports:
      - ${DOCKER_REDIS_SENTINEL_PORT_2}:26379
    environment:
      COMPOSE_SERVICE_NAME: sentinel-2
      REDIS_ANNOUNCE_PORT: ${DOCKER_REDIS_SENTINEL_PORT_2}
      REDIS_EXT_PRIMARY_PORT: ${DOCKER_REDIS_PORT}
  sentinel-3:
    <<: *template-sentinel
    profiles: ['sentinel-3']
    hostname: redis-sentinel-3
    ports:
      - ${DOCKER_REDIS_SENTINEL_PORT_3}:26379
    environment:
      COMPOSE_SERVICE_NAME: sentinel-3
      REDIS_ANNOUNCE_PORT: ${DOCKER_REDIS_SENTINEL_PORT_3}
      REDIS_EXT_PRIMARY_PORT: ${DOCKER_REDIS_PORT}

volumes:
  primary:
  replica-1:
  replica-2:

networks:
  default:
